<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - ReservApp</title>
  <link rel="stylesheet" href="../styles/ingresar.css">
</head>
<body>
  <div class="div1">
    <div class="div2">
      <img src="../assets/images/logo1blanco.png" alt="ReservApp Logo" class="logo">
    </div>
    <div class="div3">
      <h1>Ingresar</h1>
      <p>Iniciá sesión para continuar</p>

      <!-- Texto con enlace estilizado -->
      <p class="registro-texto">
        ¿No tienes una cuenta? <a href="../index.html" class="registro-enlace">Regístrate</a>
      </p>

      <form>
        <label for="email">CORREO ELECTRÓNICO</label>
        <input type="email" id="email" required>

        <label for="password">CONTRASEÑA</label>
        <input type="password" id="password"  required>
        <p> <a href="rcontraseña.html" class="rcontra">¿Olvidaste tu contraseña?</a></p>

        <p><a href="rcontraseña.html" class="rcontra">¿Olvidaste tu contraseña?</a></p>

        <button type="submit">Ingresar</button>
      </form>
    </div>
  </div>
  <script src="../scripts/login.js"></script>
</body>
</html>